# Projeto 3 - World Happiness Report

In [2]:
import numpy as np
import pandas as pd
import statistics as sts

In [47]:
db_2015 = pd.read_csv('2015.csv',delimiter=',')
db_2016 = pd.read_csv('2016.csv',delimiter=',')
db_2017 = pd.read_csv('2017.csv',delimiter=',')
db_2018 = pd.read_csv('2018.csv',delimiter=',')
db_2019 = pd.read_csv('2019.csv',delimiter=',')

#### 1. Top 10 de cada ano de 2015-2019

In [4]:
db_todos_anos_pais = pd.DataFrame({'Countries 2015': db_2015['Country'],'Countries 2016':db_2016['Country'],'Countries 2017':db_2017['Country'],
'Countries 2018':db_2018['Country or region'],'Countries 2019':db_2019['Country or region']})
db_top_10_todos_anos = db_todos_anos_pais.head(10)
db_top_10_todos_anos
# os 10 primeiros nao alteram ao longo dos 5 anos
# Dinamarca sempre no top 3
# maioria dos paises sao Europeus (mais Australia, Canada, e Nova Zelandia)

  Countries 2015 Countries 2016 Countries 2017 Countries 2018 Countries 2019
0    Switzerland        Denmark         Norway        Finland        Finland
1        Iceland    Switzerland        Denmark         Norway        Denmark
2        Denmark        Iceland        Iceland        Denmark         Norway
3         Norway         Norway    Switzerland        Iceland        Iceland
4         Canada        Finland        Finland    Switzerland    Netherlands
5        Finland         Canada    Netherlands    Netherlands    Switzerland
6    Netherlands    Netherlands         Canada         Canada         Sweden
7         Sweden    New Zealand    New Zealand    New Zealand    New Zealand
8    New Zealand      Australia         Sweden         Sweden         Canada
9      Australia         Sweden      Australia      Australia        Austria

#### 2. Considerando a média de todas as variáveis, quais foram as 3 variáveis que mais mudaram ano a ano

In [5]:
db_2015_medias = pd.Series(db_2015.mean(axis=0)) #ok
db_2016_medias = pd.Series(db_2016.mean(axis=0)) #ok
db_2017_medias = pd.Series(db_2017.mean(axis=0)) #ok
db_2018_medias = pd.Series(db_2018.mean(axis=0)) #ok
db_2019_medias = pd.Series(db_2019.mean(axis=0)) #ok
# fazer ano a ano depois...

C:\Users\grego\AppData\Local\Temp\ipykernel_24112\439643841.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  db_2015_medias = pd.Series(db_2015.mean(axis=0)) #ok
C:\Users\grego\AppData\Local\Temp\ipykernel_24112\439643841.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  db_2016_medias = pd.Series(db_2016.mean(axis=0)) #ok
C:\Users\grego\AppData\Local\Temp\ipykernel_24112\439643841.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  db_2017_medias = pd.Series(db_2017.mean(axis=0)) #ok
C:\Users\grego\AppData\Local\Temp\ipykernel_24112\439643841.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  db_2018_medias = pd.Series(db_2018.mean(axis=0)) #ok
C:\Users\grego\AppData\Local\Temp\ipykernel_24112\439643841.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  db_2019_medias = pd.Series(db_2019.mean(axis=0)) #ok

In [6]:
db_2015_medias.rename(index={'Standard Error': 'Lower Confidence Interval'}, inplace= True)
db_2015_medias['Upper Confidence Interval'] = db_2015_medias['Happiness Score'] + db_2015_medias['Lower Confidence Interval'] 
db_2015_medias['Lower Confidence Interval'] = db_2015_medias['Happiness Score'] - db_2015_medias['Lower Confidence Interval']

In [7]:
db_2017_medias.rename(index={'Happiness.Rank': 'Happiness Rank', 'Happiness.Score': 'Happiness Score',
'Whisker.low': 'Lower Confidence Interval', 'Whisker.high': 'Upper Confidence Interval',
'Economy..GDP.per.Capita.': 'Economy (GDP per Capita)', 'Health..Life.Expectancy.': 'Health (Life Expectancy)',
'Trust..Government.Corruption.': 'Trust (Government Corruption)', 'Dystopia.Residual': 'Dystopia Residual'}, inplace= True)

In [8]:
db_2018_medias.rename(index={'Overall rank': 'Happiness Rank', 'Score': 'Happiness Score',
'Freedom to make life choices': 'Freedom',
'GDP per capita': 'Economy (GDP per Capita)', 'Healthy life expectancy': 'Health (Life Expectancy)',
'Perceptions of corruption': 'Trust (Government Corruption)', 'Social support': 'Family'}, inplace= True)

In [9]:
db_2019_medias.rename(index={'Overall rank': 'Happiness Rank', 'Score': 'Happiness Score',
'Freedom to make life choices': 'Freedom',
'GDP per capita': 'Economy (GDP per Capita)', 'Healthy life expectancy': 'Health (Life Expectancy)',
'Perceptions of corruption': 'Trust (Government Corruption)', 'Social support': 'Family'}, inplace= True)

In [10]:
db_medias_todos_anos = pd.DataFrame({'Medias 2015': db_2015_medias, 'Medias 2016': db_2016_medias, 'Medias 2017': db_2017_medias,
'Medias 2018': db_2018_medias, 'Medias 2019': db_2019_medias})

db_medias_todos_anos['Maiores Variações'] = db_medias_todos_anos.apply(lambda x: sts.stdev(x)/np.mean(x), axis=1)
db_medias_todos_anos['Maiores Variações'].sort_values(ascending=False).head(3)

#ano a ano? ou nos 5 anos?

Family                           0.170950
Generosity                       0.149679
Trust (Government Corruption)    0.118184
Name: Maiores Variações, dtype: float64

#### 3. Quais foram os top 3 países que mais tiveram mudança positiva e negativa de GPD

In [34]:
db_2015_gdp = pd.DataFrame({'GDP 2015': list(db_2015['Economy (GDP per Capita)'])}, index=db_2015['Country'])
db_2016_gdp = pd.DataFrame({'GDP 2016': list(db_2016['Economy (GDP per Capita)'])}, index=db_2016['Country'])
db_2017_gdp = pd.DataFrame({'GDP 2017': list(db_2017['Economy..GDP.per.Capita.'])}, index=db_2017['Country'])
db_2018_gdp = pd.DataFrame({'Country':db_2018['Country or region'], 'GDP 2018': list(db_2018['GDP per capita'])})
db_2019_gdp = pd.DataFrame({'Country':db_2019['Country or region'], 'GDP 2019': list(db_2019['GDP per capita'])})

In [119]:
db_gdp_16_17 = db_2016_gdp.merge(db_2017_gdp, on='Country')
db_gdp_16_17['delta GDP'] = db_gdp_16_17['GDP 2017'] - db_gdp_16_17['GDP 2016']
print(db_gdp_16_17['delta GDP'].nlargest(3)) #tres maiores positivos
print(db_gdp_16_17['delta GDP'].nsmallest(3)) #tres maiores negativos

Country
Mali       0.163260
Malawi     0.146352
Georgia    0.112693
Name: delta GDP, dtype: float64
Country
Lebanon     -0.047692
Jordan      -0.005718
Venezuela   -0.005239
Name: delta GDP, dtype: float64

#### 5. Qual foi o país que mais subiu no ranking no período inteiro analisado

In [63]:
db_2015_limpa= db_2015.drop(['Standard Error','Region','Dystopia Residual'],axis=1)

In [50]:
db_2016_limpa= db_2016.drop(['Region','Lower Confidence Interval', 'Upper Confidence Interval','Dystopia Residual'],axis=1)

In [51]:
db_2017_limpa= db_2017.drop(['Whisker.high','Whisker.low','Dystopia.Residual'],axis=1)
db_2017_limpa.columns=['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity']

In [78]:
db_2018_limpa=db_2018
db_2018_limpa.columns=['Happiness Rank', 'Country', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity']

In [79]:
db_2019_limpa=db_2019
db_2019_limpa.columns=[ 'Happiness Rank', 'Country', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity']

In [72]:
df_happiness_rank = db_2015_limpa[['Country','Happiness Rank']].merge(db_2019_limpa[['Country','Happiness Rank']], on='Country', suffixes=('_2015','_2019'))
df_happiness_rank['Delta Happiness'] = df_happiness_rank['Happiness Rank_2015'] - df_happiness_rank['Happiness Rank_2019']
df_happiness_rank.nlargest(1, columns='Delta Happiness')

    Country  Happiness Rank_2015  Happiness Rank_2019  Delta Happiness
145   Benin                  155                  102               53

#### 6. Teve países que saíram ou entraram do index?

In [106]:
aparicoes_paises = pd.concat([db_2015_limpa['Country'],db_2016_limpa['Country'],db_2017_limpa['Country'],db_2018_limpa['Country'],db_2019_limpa['Country']]).reset_index()
serie_aparicoes = aparicoes_paises.groupby('Country').agg('size')
lista_paises_aparicoes = list(serie_aparicoes[serie_aparicoes<5].index)
lista_paises_aparicoes

['Angola',
 'Belize',
 'Central African Republic',
 'Comoros',
 'Djibouti',
 'Gambia',
 'Hong Kong',
 'Hong Kong S.A.R., China',
 'Laos',
 'Lesotho',
 'Macedonia',
 'Mozambique',
 'Namibia',
 'North Cyprus',
 'North Macedonia',
 'Northern Cyprus',
 'Oman',
 'Puerto Rico',
 'Somalia',
 'Somaliland Region',
 'Somaliland region',
 'South Sudan',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Taiwan',
 'Taiwan Province of China',
 'Trinidad & Tobago',
 'Trinidad and Tobago']

#### 7. Quais foram os 3 países que mais tiveram mudança na expectativa de vida, positiva e negativa. de 2017 para 2018

In [116]:
db_life_expectancy = db_2017_limpa[['Country', 'Health (Life Expectancy)']].merge(db_2018_limpa[['Country', 'Health (Life Expectancy)']], on='Country', suffixes=('_2017', '_2018'))
db_life_expectancy['delta life expectancy'] = db_life_expectancy['Health (Life Expectancy)_2018'] - db_life_expectancy['Health (Life Expectancy)_2017']
display(db_life_expectancy.nlargest(3, columns='delta life expectancy')) #tres maiores positivos
display(db_life_expectancy.nsmallest(3, columns='delta life expectancy')) #tres maiores negativos

,Country,Health (Life Expectancy)_2017,Health (Life Expectancy)_2018,delta life expectancy
135,Angola,0.049869,0.269,0.219131
107,Kenya,0.309988,0.454,0.144012
96,South Africa,0.187080,0.330,0.142920

,Country,Health (Life Expectancy)_2017,Health (Life Expectancy)_2018,delta life expectancy
20,United Arab Emirates,0.726798,0.670,-0.056798
130,Niger,0.268505,0.221,-0.047505
122,Mali,0.169366,0.152,-0.017366

#### 8. Até 2 questões extras que vocês acham interessante analisar